#app .col-sm-2, #app .col-sm-3 {
  font-size: 0.8em; }
#app .col-md-2, #app .col-md-3 {
  margin: 0;
  padding: 0;
  border-right: 1px solid #ededed;
  height: 100%;
  overflow: hidden; }
  #app .col-md-2 h2, #app .col-md-3 h2 {
    font-weight: normal;
    font-size: 12px; }
#app h2.header {
  text-align: center;
  background-color: white;
  color: #878787;
  margin: 0;
  padding: 7px;
  margin-right: -1px; }

#pages {
  display: none; }
  #pages .list {
    height: 100%;
    overflow: scroll; }
  #pages .page {
    padding: 5px;
    font-size: 1.2em;
    border-bottom: 1px solid #cecece; }

#page {
  height: 100%;
  overflow: scroll;
  padding: 0 30px; }

.wikipedia {
  overflow: scroll;
  font-family: "Libre Baskerville", serif; }
  .wikipedia h1 {
    margin: 45px 0; }
  .wikipedia p {
    color: #383838;
    font-size: 1.2em;
    line-height: 1.7em;
    margin-bottom: 1em; }
  .wikipedia a {
    color: black;
    box-shadow: 0-4px 0 #ededed inset; }
    .wikipedia a:hover {
      text-decoration: none;
      box-shadow: 0-4px 0 #878787 inset; }
  .wikipedia .vertical-navbox th {
    text-align: center; }
  .wikipedia .vertical-navbox ul {
    list-style-type: none; }
    .wikipedia .vertical-navbox ul li {
      display: inline; }
  .wikipedia .ambox {
    font-family: "Helvetica", "Helvetica Neue", arial, sans-serif;
    font-size: 1em; }
    .wikipedia .ambox .mbox-image {
      padding: 5px; }
  .wikipedia .thumb.tright {
    float: right;
    margin-left: 15px; }
