#app .col-md-2, #app .col-md-3 {
  margin: 0;
  padding: 0;
  border-right: 1px solid #cecece;
  height: 100%; }
  #app .col-md-2 h2, #app .col-md-3 h2 {
    font-weight: normal;
    font-size: 12px; }
#app h2.header {
  background-color: #5489fa;
  color: #a6c6ff;
  margin: 0;
  padding: 7px;
  margin-right: -1px; }

#page-info h2.header {
  background: #2fe203;
  color: #99ff7d; }
