$blue: #5489fa;
$blue-light: #a6c6ff;

$green: #2fe203;
$green-light: #cbffb6;

$red: #dc357a;
$red-light: #ff8080;

$grey: #494949;
$grey-dark: #383838;
$grey-light: #878787;
$grey-light-pale: #ededed;
