// COLORS

$blue: #5489fa;
$blue-light: #a6c6ff;

$green: #2fe203;
$green-light: #99ff7d;


// GENERIC

// PARTS
#app {

  .col-md-2, .col-md-3 {
    margin: 0;
    padding: 0;
    border-right: 1px solid #cecece;
    height: 100%;

    h2 {
      font-weight: normal;
      font-size: 12px;      
    }
  }

  h2.header {
      background-color: $blue;
      color: $blue-light;
      margin: 0;
      padding: 7px;
      margin-right: -1px;
  }

}

#page-info {
  h2.header {
    background: $green;
    color: $green-light;
  }
}
