@import "colors";
@import "mixins";

$serif: "Libre Baskerville", serif;
$sans-serif: "Helvetica", "Helvetica Neue", arial, sans-serif;

.wikipedia {
  font-family: $serif;

  & > * {
    // background: red;
  }

  h1 {
    margin: 45px 0;
  }

  .mw-headline {
    background: white;
  }

  p, li {
    color: $grey-dark;
    background: white;
    font-size: 1.2em;
    line-height: 1.7em;
    margin-bottom: 1em;
  }

  li {
    margin-bottom: 0em;

    li { font-size: 1em; }
  }

  a {
    color: black;
    @include border();

    &.link-domain-in {
      @include border(4px, $grey-light, $grey);
    }

    &.link-difficulty {

      &-easy   { @include border(4px, $green-light, $green); }
      &-normal { @include border(4px, $blue-light, $blue);   }
      &-hard   { @include border(4px, $red-light, $red);     }
      &-expert { @include border(4px, $green-light, $green); }
    }

  }

  .vertical-navbox {

    th {
      text-align: center;
    }

    ul {
      list-style-type: none;

      li {
        display: inline;
      }
    }
  }

  .ambox {
    font-family: $sans-serif;
    font-size: 1em;

    .mbox-image {
      padding: 5px;
    }
  }

  .thumb.tright {
    float: right;
    margin-left: 15px;
    margin-right: -210px;
  }

  .mw-editsection { display: none; }

  .hatnote {
    // color: red;
  }
}

#page-info {
  #toctitle { display: none; }

  .toc {
    font-size: 1.2em;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    ul ul ul { display: none; }

    .tocnumber {display: none; }

    ul li.active a { color: red; }

    .toclevel-1 {
      a {
        border-left: 3px solid white;
        padding: 2px 3px;
        display: block;
        color: $grey-light;

        &.active {
          color: black;
          border-left-color: rgba($grey-light, 0.5);
        }
      }

      & > a {
        border-bottom: 1px solid $grey-light-pale;
        color: rgba($grey, 0.9);
      }

    }


  }
}
