$serif: "Libre Baskerville", serif;

.wikipedia {
  overflow: scroll;

  font-family: $serif;

  .thumb.tright {
    float: right;
    margin-left: 3px;
  }

  p {
    font-size: 1.2em;
    line-height: 1.7em;
    margin-bottom: 1em;
  }
}
